@use 'mixins' as *;
.hero{
    @include flex-center;
    flex-direction: column;
    height:100vh;
    background: linear-gradient(135deg, var(--primary-color),var(--secondary-color));
    color: white;
    text-align: center;

}

.skill-list{
    @include flex-center;
    flex-wrap:wrap;
    gap:1rem;
    list-style:none;

    li{
    padding: 0.5rem 1rem;
    background-color: #3498db;
    color:white;
    border-radius:20px;
}
}

.project-grid{
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    gap:2rem;

    .project-card{
    flex: 1 1 500px;
    max-width: 500px;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius:10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
}