header{
    background-color: var(--dark-color);
    padding: 1rem 2rem;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items:center;

    .nav-links{
        display:flex;
        list-style:none;
        gap:2rem;

        a{
            color:white;
            text-decoration:none;
        }
    }
    
    .logo{
        color:white;
        text-decoration:none;
    }
}


section{
    padding:4rem 2rem;
    
    h2{
        text-align:center;
        margin-bottom:2rem;
    }
}

footer{
    background-color: var(--dark-color);
    color:white;
    text-align:center;
    padding:1rem 2rem;
}
