@mixin flex-center{
        display:flex;
        justify-content:center;
        align-items:center;
 }
@mixin button-style($bg-color,$text-color:white){
        padding:0.5rem 1rem;
        background-color:$bg-color;
        color: $text-color;
        border:none;
        boredr-radius: 5px;
        cursor: pointer;
}
@mixin mobile{
    @media (max-width:768px){
        @content;
    }
}