
@use 'variables' as *;
@use 'mixins' as *;
@use 'base' as *;
@use 'layout' as *;
@use 'components' as *;


.btn{
    @include button-style(#667eea);
}
.btn-danger{
    @include button-style(#c0392b,white);
}

@media (max-width:768px){
    nav{
        flex-direction:column;
        gap:1rem;
    }
    .nav-links{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:1rem;
    }
    .hero h1{
        font-size:1.8rem;
    }
    .hero p{
        font-size:1rem;
    }
    .project-grid{
        grid-template-columns:1fr;
    }
    .project-card:first-child{
        grid-column: span 1;
    }
}
@media (min-width:768px){
    .project-grid{
        grid-template-columns:repeat(2,1fr);
    }
}
@media(min-width:1024px){
    .project-grid{
        grid-template-columns:repeat(3,1fr);
    }
}